-if(user.email)
  p You are currently receiving notifications at #{user.email}.
-if(user.pendingEmail)
  p An email has been sent to #{user.pendingEmail} for you to verify.
-if(user.pendingEmail || user.email)
  h3 Change email:
-else
  h3 Add email:
form(action='./addemail', method='post')
  -if(errors && errors.email)
    -for(var i=0; i<errors.email.length; i++)
      div.alert.alert-error
        a.close(data-dismiss='alert') x
        span= errors.email[i]
  input.form-control.input-block-level(type='email', name='email', placeholder='Email', required)
  input.btn.btn-lg.btn-primary(type='submit')
