form(action='./addfriend', method='post')
  h3 add friend:
  -if(errors && errors.friends)
    -for(var i=0; i<errors.friends.length; i++)
      div.error= errors.friends[i]
  div.group
    label username:
    input(type='text', name='username', required)
  input(type='submit')
