form(action='./addfriend', method='post')
  h2 Add friend
  input.form-control.input-block-level(type='text', name='username', placeholder='Username', required)
  input.btn.btn-lg.btn-primary(type='submit')