div.game
  h2= game.players
  -if(game.currentPlayer === user.username)
    p It's your turn. The previous sentence in the story was:
    p= game.sentence
    form(action='./game', method='post')
      input(type='hidden', name='gameId', value=game.id)
      textarea(name='sentence')
      br
      input(type='submit')
  -else
    p It's not your turn.