extends layout
block content
  div.page
    -if(game.finished || !game.sentence)
      div.page-header
    div.page-body
      -if(game.finished)
        p= game.content
      -else
        p= game.sentence
