extends layout

block content
  div.container
    div.hero-unit
      h1 Story game
  div.main-content
    div.row-fluid
      div.span4.offset1
        include signin
      div.span4.offset2
        include signup