extends layout

block content
  h1= title
  -if(user)
    h2= 'welcome, ' + user.username
    a(href='/signout') sign out

    h3 friends
    ul
      -user.friends.forEach(function(friend) {
        li= friend
      -})

    include addfriend
  -else
    include signin
    include signup