extends layout

block content
  h1= title
  -if(user)
    h2= 'welcome, ' + user.username
    a(href='/signout') sign out

    h3 friends
    ul
      -user.friends.forEach(function(friend) {
        li= friend
      -})

    include addfriend
    include newgame

    -user.games.forEach(function(game) {
      -var gameId = game;
      include game
    -})

  -else
    include signin
    include signup