h2 New game
form(action='./game/new', method='post')
  div.form-group
    label Select players for this game
    div.checkbox
      -user.friends.forEach(function(friend) {
        label
          input(type='checkbox', name='friends', value=friend)
          =friend
      -})
  div.form-group
    label Number of turns per player
    input.form-control(type='number', name='turnsPer', min='1', id='turnsPer', required)

  input.btn.btn-lg.btn-primary(type='submit')