extends layout
block content
  div.page
    div.page-header
      h1 new game
    div.page-body
      -if(user.friends.length)
        form.creategame(action='/newgame', method='post')
          -if(errors && errors.newgame)
            -for(var i=0; i<errors.newgame.length; i++)
              div.error= errors.newgame[i]
          label Select players for this game
          ul.friends
            -user.friends.forEach(function(friend) {
              li
                label= friend
                  input(type='checkbox', name='friends', value=friend)
                  
            -})
          div.group
            label number of turns per player:
            input(type='number', name='turnsPer', min='1', id='turnsPer', required)

          input(type='submit')

      -else
        h2 add at least one friend from your 
          a(href='/profile') profile
          |  to create a game
