form.form-signin(action='./signup', method='post')
  h2 Sign up
  input.form-control.input-block-level(type='text', name='username', placeholder='Username', required)
  input.form-control.input-block-level(type='password', name='password', placeholder='Password', required)
  input.btn.btn-lg.btn-primary(type='submit')