form.form-signin(action='./signup', method='post')
  h2.form-signin-heading Sign up
  input.form-control.input-block-level(type='text', name='username', placeholder='Username', required)
  input.form-control.input-block-level(type='password', name='password', placeholder='Password', required)
  input.btn.btn-large.btn-primary(type='submit')