form.form-signin(action='./signin', method='post')
  h2 sign in
  -if(errors && errors.signin)
    -for(var i=0; i<errors.signin.length; i++)
      div.error= errors.signin[i]
  div.group
    label username:
    input(type='text', name='username', required)
  div.group
    label password:
    input(type='password', name='password', required)
  input(type='submit', value='submit')