form.form-signin(action='./signup', method='post')
  h2 Sign up
  -if(errors && errors.signup)
    -for(var i=0; i<errors.signup.length; i++)
      div.alert.alert-error
        a.close(data-dismiss='alert') x
        span= errors.signup[i]
  input.form-control.input-block-level(type='text', name='username', placeholder='Username', required)
  input.form-control.input-block-level(type='password', name='password', placeholder='Password', required)
  input.btn.btn-lg.btn-primary(type='submit')