extends layout

block content
  header
    h1 story game
    div.user-info
      h2= 'welcome, ' + user.username
      a(href='/signout') sign out
  div.main-content
    div.friends
      h3 friends
      ul
        -user.friends.forEach(function(friend) {
          li= friend
        -})
      include addfriend

    div.games
      include newgame

      -games.forEach(function(game) {
        include game
      -})