extends layout

block content
  div.navbar.navbar-static-top
    div.navbar-inner
      div.container
        p.brand story game
        div.pull-right
          span.navbar-text.user= 'logged in as '+user.username+' '
          a.navbar-text.signout(href='/signout') sign out

  div.row-fluid
    div.span6.offset1
      div.group
        h2 Games
        -games.forEach(function(game) {
          div.group
            include game
        -})
      div.group
        include newgame
    div.span4
      div.group
        h2 Friends
        ul
          -user.friends.forEach(function(friend) {
            li= friend
          -})
      div.group
        include addfriend
