body {
  background: url("/images/wood_nortago.jpg");
  color: #fff;
  font-family: helvetica;
  margin: 0;
}
.page {
  margin: 50px 0;
}
.page h1,
.page h2,
.page h3,
.page p {
  padding: 0;
  margin: 0;
}
.page label,
.page input {
  padding: 2px;
}
.page-header {
  padding: 50px 55px 30px;
  position: relative;
  height: 20px;
  border: 1px solid #b5b5b5;
  border-bottom: 1px solid #dfe8ec;
  background: #fff;
  background-size: 100% 30px;
  font: 24px 'AmericanTypewriter', Cambria, Georgia;
  color: #282625;
  margin: 0 auto;
  width: 600px;
  line-height: 30px;
}
.page-header:after {
  content: '';
  border-left: 1px solid #f8d3d3;
  position: absolute;
  top: 0;
  left: 39px;
  bottom: 0;
}
.page-body {
  padding: 3px 55px 30px;
  position: relative;
  border: 1px solid #b5b5b5;
  border-top: none;
  background: #fff;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  font: 16px 'AmericanTypewriter', Cambria, Georgia;
  color: #282625;
  margin: 0 auto;
  width: 600px;
  line-height: 30px;
}
.page-body:after {
  content: '';
  border-left: 1px solid #f8d3d3;
  position: absolute;
  top: 0;
  left: 39px;
  bottom: 0;
}
.notecard {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-align: left;
  padding: 0 30px 30px;
  position: relative;
  border: 1px solid #b5b5b5;
  background: #fff;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  font: 16px 'AmericanTypewriter', Cambria, Georgia;
  color: #282625;
  width: 250px;
  height: 150px;
  margin: 10px 20px;
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
}
.notecard h1,
.notecard h2,
.notecard h3,
.notecard h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}
.notecard p {
  padding: 0;
  margin: 0;
}
.notecard p {
  margin: 0;
}
.notecard.category {
  cursor: pointer;
  z-index: 1;
}
.notecard:after {
  content: '';
  border-top: 1px solid #f8d3d3;
  position: absolute;
  top: 27px;
  right: 0;
  left: 0;
}
.notecard-wrapper {
  text-align: center;
}
form {
  width: 250px;
  margin: 0 25px;
  display: inline-block;
  vertical-align: top;
}
input {
  float: right;
  width: 150px;
  background: none;
  border: 1px dashed #000;
  font: 16px 'AmericanTypewriter', Cambria, Georgia;
}
input[type='submit'] {
  width: 156px;
}
ul {
  margin: 0;
}
.group {
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  position: relative;
  display: block;
}
.heading {
  text-align: center;
  padding: 5px;
  overflow: auto;
  border: 1px solid #b5b5b5;
  background: #fff;
  background: -webkit-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: -moz-linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  background: linear-gradient(top, #dfe8ec 0%, #fff 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  font: 16px 'AmericanTypewriter', Cambria, Georgia;
  color: #282625;
}
.heading h1,
.heading h2,
.heading h3,
.heading p {
  padding: 0;
  margin: 0;
}
.heading * {
  display: inline-block;
}
.heading a {
  text-decoration: none;
  color: #282625;
}
.heading .title {
  float: left;
}
.heading .nav-container {
  padding-top: 5px;
  width: 250px;
  text-align: center;
}
.heading .nav-container * {
  margin: 0 10px;
}
.heading .user {
  text-align: right;
  float: right;
}
.heading .user * {
  display: block;
}
.heading .user a {
  color: #87ceeb;
}
.error {
  color: #b94a48;
}
.success {
  color: #468847;
}
