body
  padding 0
  margin 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

header
  border 1px solid black
  position absolute
  top 0
  left 0
  right 0
  height 75px
  & h1
    margin 15px
    display inline-block
  & .user-info
    float right
    text-align right
    & h2, a
      margin 5px
      display block

.main-content
  position absolute
  top 75px
  left 0
  right 0
  bottom 0
  min-width 500px

.friends
  padding 10px
  border 1px solid black
  position absolute
  top 0
  bottom 0
  right 0
  width 200px

.games
  padding 10px
  border 1px solid black
  position absolute
  top 0
  bottom 0
  left 0
  right 220px